@import './src/styles/variables';
@import './src/styles/shared';

.tags-list-dialog {
  .tags-select-form {
    padding: $standard-element-spacing $huge-element-spacing;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .tags-select-form-content {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .error-image {
        width: 50vw;
        margin-bottom: $big-element-spacing;
      }

      .tags-select-info-image {
        width: 80%;
        display: block;
        margin: 0 auto $small-element-spacing;
      }

      .selected-tags-text {
        font-size: $standard-font-size;
        font-weight: 500;
      }

      .tags-select-info-description {
        @include info-description;
        width: 90%;
        font-size: $small-font-size;
        margin-bottom: $big-element-spacing;
      }

      .tags-select-info-header {
        @include info-header;
        width: 80%;
        font-size: $big-font-size;
        margin-bottom: $small-element-spacing;
      }

      .selected-tags {
        .tag-chip {
          background-color: $strong-highlighted-background;
          font-weight: 500;
        }
      }

      .complete-tags-list {
        .tag-chip {
          @include chip;
          font-weight: 500;
          background-color: transparent;

          &.selected {
            background-color: $strong-highlighted-background;
          }
        }
      }
    }
  }

  .tags-select-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .action-button {
    margin: $huge-element-spacing $small-element-spacing 0;
    @include action-button-standard;
  }
}

.tags-list-container, .tags-list-dialog {
  padding: $standard-element-spacing;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .tag-chip {
    @include chip;

    &.edit-tags-chip {
      cursor: pointer;
    }

    .tags-edit-icon {
      height: 0.6rem;
      margin-right: $small-element-spacing;
    }
  }
}
