@import './src/styles/variables';
@import './src/styles/shared';

.tags-list-container, .tags-list-dialog {
  padding: $standard-element-spacing;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .tag-chip {
    @include chip;

    &.edit-tags-chip {
      cursor: pointer;
    }

    .tags-edit-icon {
      height: 0.6rem;
      margin-right: $small-element-spacing;
    }
  }
}
