@import './src/styles/variables';
@import './src/styles/shared';
@import '../DishCardShared';

.dish-card-front-container {
  @include dish-card-container;
  @include dish-card-components;

  .image-container {
    flex-grow: 1;
  }

  .content-container {
    .ingredients-list {
      margin-bottom: 10px;
    }

    .ratings-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 15px;
    }
  }

  .flip-card-button {
    width: 100%;
    border-radius: $dish-card-inner-border-radius;
    font-weight: bold;
  }
}
