@import './src/styles/variables';
@import './src/styles/shared';
@import '../DishCardShared';

.dish-card-front-container {
  @include dish-card-container;
  @include dish-card-components;

  .image-container {
    flex-grow: 1;

    .add-to-menu-button {
      position: absolute;
      z-index: 10;
      left: $small-element-spacing;
      top: $small-element-spacing;
      background-color: #222222;
      color: white;
    }
  }

  .dish-card-content-container {
    border-radius: $inner-border-radius-5;
    background-color: $white-transparent-background-5;
    margin: $small-element-spacing 0;
  }

  .flip-card-button {
    @include dish-card-action-button;
  }
}
