@import "/src/styles/shared";
@import "/src/styles/variables";

.authentication-page-container {
  @include page-container;

  .sign-in-slide {
    background: #270070;
  }

  .sign-up-slide {
    background: #09001e;
  }

  .authentication-slide {
    @include content-container;
    height: 100%;
    overflow-y: auto;
    justify-content: center;

    .sign-up-info, .authentication-input, .authentication-button {
      padding: $standard-element-spacing;
      border-radius: $inner-border-radius-5;
      width: 80%;
    }

    .sign-up-info, .authentication-panel-redirect {
      font-size: $small-font-size;
    }

    .sign-up-info, .authentication-button, .authentication-panel-redirect {
      font-weight: bold;
    }

    .sign-up-info {
      background: $white-transparent-background-5;
      box-sizing: border-box;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 6.5%;

      &.success {
       color: rgba(22, 255, 105, 0.8);
      }

      &.error {
        color: rgba(255, 0, 0, 0.8);
      }

      &.info {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .sign-in-image {
      max-height: 50vh;
    }

    .sign-up-image {
      max-height: 30vh;
    }

    .authentication-input-row {
      width: 100%;

      .authentication-input {
        background: $white-transparent-background-10;
        margin: $small-element-spacing auto 0 auto;
        font-size: $standard-font-size;

        .authentication-input-icon {
          margin-right: $standard-element-spacing;
        }
      }
    }

    .authentication-panel-header {
      font-weight: bold;
      font-size: $huge-font-size;
      margin-top: $standard-element-spacing;
    }

    .authentication-panel-caption {
      margin: $small-element-spacing auto $big-element-spacing;
      width: 70%;
    }

    .authentication-button {
      margin: $standard-element-spacing auto;
    }

    .authentication-panel-redirect {
      margin: 0 auto $big-element-spacing auto;
    }
  }
}