@import './src/styles/variables';

.display-manager-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  height: $display-manager-height;
  border-radius: 15px;

  .selected-tag {
    min-width: 100px;
    height: $display-manager-height;
    padding: 10px;
    background-color: $highlighted-background;
    box-sizing: border-box;
  }

  .MuiToggleButton-root {
    color: white;
    height: $display-manager-height;
    aspect-ratio: 1;

    &.Mui-selected {
      opacity: 0.5;
      color: white;
    }
  }
}
