@import './src/styles/variables';

.display-manager-container {
  width: 80vw;
  height: $display-manager-height;
  border-radius: 15px;

  .MuiToggleButton-root {
    color: white;
    height: $display-manager-height;
    aspect-ratio: 1;

    &.Mui-selected {
      opacity: 0.5;
      color: white;
    }
  }
}
