@import './src/styles/variables';
@import './src/styles/shared';

.landing-page-container {
  @include page-container;

  .display-manager {
    width: $navbar-width;
    position: absolute;
    box-sizing: border-box;
    top: $page-offset;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
  }
}
