@import './src/styles/variables';
@import './src/styles/shared';

.dish-tags-list-dialog {
  .dish-tags-select-form {
    padding: $standard-element-spacing;
    text-align: center;

    .error-image {
      width: 50vw;
      margin-bottom: $big-element-spacing;
    }

    .tags-select-info {
      font-size: $standard-font-size;
      margin-bottom: $standard-element-spacing;
    }

    .tags-select-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .action-button {
        width: fit-content;
        margin: $standard-element-spacing auto 0 auto;
      }
    }
  }
}

.dish-tags-select-menu {
  max-height: 35vh;

  .MuiMenuItem-root {
    font-size: 0.75rem;
  }
}

.dish-tags-list-container, .dish-tags-list-dialog {
  padding: $standard-element-spacing;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .dish-tag-chip {
    @include chip;

    .dish-tags-edit-icon {
      height: 0.6rem;
      margin-right: $small-element-spacing;
    }
  }
}
