@import './src/styles/variables';
@import './src/styles/shared';

.dishes-list-container {
  box-sizing: border-box;

  .dish-card {
    @include dish-card;
  }

  &.error {
    .error-image {
      width: 80vw;
    }

    .MuiTypography-root {
      font-weight: bold;
    }
  }
}
