@import './src/styles/shared';

@mixin dish-card-container {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

@mixin dish-card-components {
  .ingredients-list, .dish-name {
    background-color: rgba(128, 128, 128, 0.075);
    border-radius: $dish-card-inner-border-radius;
    width: 100%;
    box-sizing: border-box;
  }

  .dish-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
  }

  .dish-image {
    border-radius: $dish-card-inner-border-radius;
    margin-bottom: 10px;
  }

  .ingredients-list {
    overflow: hidden;
    padding: 3px;
  }
}
