@import './src/styles/shared';
@import './src/styles/variables';

@mixin dish-card-container {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

@mixin dish-card-components {
  .field-label {
    font-size: $tiny-font-size;
    margin: 5px auto 0 auto;
    padding: 0 $small-element-spacing;
    transform: translateY(50%);

    &:before, &:after {
      border-radius: $inner-border-radius-5;
      border-top: thin solid $white-transparent-background-5;
    }
  }

  .dish-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $standard-element-spacing;
    font-size: $big-font-size;
    font-weight: bold;
    overflow: hidden;
    text-align: center;

    input {
      text-align: center;
    }
  }

  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: $inner-border-radius-5;

    .dish-image {
      height: 100%;
      background-color: $strong-highlighted-background;
    }
  }

  .ingredients-list {
    overflow: hidden;
    padding: $standard-element-spacing;
  }

  .dish-recipe {
    margin-bottom: $standard-element-spacing;
  }
}
