@import "/src/styles/variables";
@import "/src/styles/shared";

.dish-card-motion {
  will-change: transform;
}

.dish-card-back-dialog {
  overflow: hidden;
  top: $standard-element-spacing;
  @include content-container(85);

  .dish-card-side {
    @include dish-card;
    width: 100%;
    margin: 0;
  }
}

.dish-card {
  touch-action: none;

  .dish-card-side {
    width: 100%;
    height: 100%;
  }

  .add-to-menu-button {
    box-sizing: border-box;
    padding: $small-element-spacing;
    font-size: $small-icon-font-size;
    position: absolute;
    z-index: 1000;
    top: $standard-element-spacing;
    right: $standard-element-spacing;
    background: rgba(0, 0, 0, 0.8);
    border-radius: $round-border-radius-50;
  }
}
