@import './src/styles/variables';
@import './src/styles/shared';

.all-tags-list-container {
  .tags-divider {
    font-size: $tiny-font-size;
    margin-top: $big-element-spacing;
  }

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .tag-chip {
      @include chip;
      background-color: $highlighted-background;

      &.selected {
        background-color: $strong-highlighted-background;
      }
    }
  }
}
