@import "../../../styles/variables";

.user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $big-element-spacing 0;

  .user-info-picture {
    width: $icon-font-size;
    height: $icon-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: $big-font-size;
    border-radius: $round-border-radius-50;
    background: $gradient-transparent-background-soft;
    margin: 0 auto $big-element-spacing;
    pointer-events: none;
  }

  .user-info-username, .user-info-email, .user-info-role {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .user-info-username {
    font-size: $big-font-size;
    font-weight: bold;
  }

  .user-info-email {
    margin-top: $small-element-spacing;
    font-size: $standard-font-size;
  }

  .user-info-role {
    font-size: $small-font-size;
  }
}