@import "../../../styles/variables";
@import "../../../styles/shared";

.user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $big-element-spacing 0;

  .user-info-picture {
    width: calc(3 * #{$icon-font-size});
    height: calc(3 * #{$icon-font-size});
    font-size: $big-font-size;
    margin: 0 auto $big-element-spacing;
  }

  .user-info-username, .user-info-email {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .user-info-username {
    font-size: $big-font-size;
    font-weight: bold;
  }

  .user-info-email {
    margin-top: $small-element-spacing;
    font-size: $small-font-size;
  }
}