@import './src/styles/shared';
@import './src/styles/variables';

.ingredient-list-container {
  text-align: center;

  .ingredient-tile-container {
    display: inline-flex;

    .ingredient-tile {
      @include chip;
      cursor: pointer;

      &.new {
        border: 2px solid rgba(255, 255, 255, 0.75);
        box-sizing: border-box;
      }
    }
  }

  .add-ingredient-button {
    display: block;
    margin: 0 auto;
  }

  .servings-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: $standard-element-spacing 0;

    .servings-text {
      font-weight: bold;
      font-size: $standard-font-size;
      margin-right: $standard-element-spacing;
    }
  }
}
