@import './src/styles/shared';

.ingredient-list-container {
  width: 100%;
  text-align: center;

  .ingredient-tile {
    height: 3vh;
    transform: scale(0.9);
    @include appear-animation;
  }

  .servings-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;

    .servings-text {
      font-weight: bold;
      font-size: 0.9rem;
      margin-right: 10px;
    }
  }

  .ingredients-divider {
    margin: 10px auto;
    width: 90%;
    opacity: 0.5;
  }
}
