@import './src/styles/variables';
@import './src/styles/shared';

.displayed-tag-container {
  .search-list {
    @include search-list;
    overflow: hidden;
    padding-bottom: $big-element-spacing;

    .tags-list-header {
      @include search-bar;
    }

    .tag-items-container {
      max-height: 55vh;
      overflow-y: auto;
    }
  }
}
