@import './src/styles/variables';
@import './src/styles/shared';

.top-navbar-container {
  @include translucent-tile;
  @include navbar-max-width;
  padding: 0;
  display: flex;
  height: $top-navbar-height;
  border-radius: $round-border-radius-50;

  .top-navbar-buttons {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    align-items: center;

    .back-button, .add-dish-button {
      cursor: pointer;
      @include navbar-icon;
    }

    .back-button {
      margin: 0 $big-element-spacing 0 $standard-element-spacing;
    }

    .add-dish-button {
      margin: 0 $big-element-spacing 0 0;
    }

    .displayed-tag {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: $standard-element-spacing;
      box-sizing: border-box;

      .displayed-tag-icon {
        @include navbar-icon;
        box-sizing: border-box;
        margin: 0 $standard-element-spacing;
      }

      .displayed-tag-name {
        white-space: nowrap;
        font-size: $small-font-size;
      }
    }
  }

  .search-bar {
    height: calc(#{$top-navbar-height} - #{$standard-element-spacing});
    margin: $small-element-spacing;
    box-sizing: border-box;
    transition: background 0.25s;
    cursor: pointer;

    &.active {
      background: $white-transparent-background-10;
    }
  }
}
