@import './src/styles/variables';
@import './src/styles/shared';

.top-navbar-container {
  @include translucent-tile;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $top-navbar-height;
  border-radius: 20px $round-border-radius-50 $round-border-radius-50 20px;

  .search-bar {
    flex-grow: 1;
    height: calc(#{$top-navbar-height} - $standard-element-spacing);
    background: $white-transparent-background-25;
    margin: $small-element-spacing;
    box-sizing: border-box;
  }

  .back-button, .displayed-tag {
    @include action-button-standard;
    white-space: nowrap;
    color: white;
    margin: 0 $standard-element-spacing;
  }
}
