@import './variables';

@mixin page-container {
  width: calc(100 * var(--vw));
  height: calc(100 * var(--vh));
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;

  &:before {
    background: url('../../public/background.svg');
    content: "";
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }
}

@mixin appear-animation {
  animation: appear 0s ease-in-out;

  @keyframes appear {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin dish-card {
  width: $dish-card-width;
  height: calc(100 * var(--vh) - #{$bottom-navbar-height} - 2 * #{$huge-element-spacing} - #{$page-offset} - #{$top-navbar-height});
  margin-top: calc(#{$top-navbar-height} + #{$page-offset} + #{$huge-element-spacing});
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@mixin navbar {
  width: $navbar-width;
  position: absolute;
  box-sizing: border-box;
  top: $page-offset;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

@mixin tag-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: $tiny-font-size;
  background-color: $strong-highlighted-background;
  padding: 5px 10px;
  border-radius: 50px;
}

@mixin search-list {
  position: absolute;
  max-height: 60vh;
  top: calc(#{$top-navbar-height} + 5px);
  border-radius: 10px;
  width: 100%;
  left: 0;

  .search-list-item {
    border-top: thin solid $highlighted-background;
    box-sizing: border-box;

    .list-item-icon {
      margin-left: auto;
      font-size: $standard-font-size;
    }

    .list-item-text {
      display: flex;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: $small-font-size;
      align-items: baseline;
      width: 100%;
    }

    .list-item-info {
      margin-left: 10px;
      opacity: 0.5;
      font-size: $tiny-font-size;
    }
  }
}

@mixin search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  position: relative;

  .search-input {
    flex-grow: 1;
    margin: 0 10px;
    font-weight: bold;
  }
}

@mixin action-button-standard {
  padding: 10px 25px;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
}

@mixin dish-card-action-button {
  transform: scale(0.9);
  @include action-button-standard;
  margin: 0 auto;
}
