@import './variables';

@mixin page-container {
  width: calc(100 * var(--vw));
  height: calc(100 * var(--vh));
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

@mixin dish-card {
  width: $dish-card-width;
  height: calc(100 * var(--vh) - #{$bottom-navbar-height} - #{$huge-element-spacing} - #{$page-offset} - #{$top-navbar-height});
  margin: $huge-element-spacing auto 0;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  @include translucent-tile;
}

@mixin navbar {
  width: $navbar-width;
  position: absolute;
  box-sizing: border-box;
  top: $page-offset;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

@mixin chip {
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: $tiny-font-size;
  background-color: $white-transparent-background-35;
  padding: $small-element-spacing $standard-element-spacing;
  border-radius: $round-border-radius-50;
}

@mixin search-list {
  position: absolute;
  max-height: 60vh;
  top: calc(#{$top-navbar-height} + #{$small-element-spacing});
  border-radius: $standard-element-spacing;
  width: 100%;
  left: 0;

  .search-list-item {
    border-top: thin solid $lightly-highlighted-background;
    box-sizing: border-box;

    .list-item-icon {
      margin-left: auto;
      font-size: $standard-font-size;
    }

    .list-item-text {
      display: flex;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: $small-font-size;
      align-items: baseline;
      width: 100%;
    }

    .list-item-info {
      margin-left: $standard-element-spacing;
      opacity: 0.5;
      font-size: $tiny-font-size;
    }
  }
}

@mixin search-bar {
  display: flex;
  align-items: center;
  padding: $standard-element-spacing;
  border-radius: $outer-border-radius-10;
  position: relative;

  .search-input {
    flex-grow: 1;
    margin: 0 $standard-element-spacing;
    font-weight: bold;
  }
}

@mixin action-button-standard {
  font-weight: bold;
  -webkit-box-shadow: $button-shadow;
  -moz-box-shadow: $button-shadow;
  box-shadow: $button-shadow;
  padding: $standard-element-spacing $huge-element-spacing;
  width: fit-content;
  height: fit-content;
  border-radius: $round-border-radius-50;
}

@mixin dish-card-action-button {
  transform: scale(0.9);
  @include action-button-standard;
  margin: 0 auto;
}

@mixin translucent-tile {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
  background: $gradient-transparent-background-soft;
  border-radius: $outer-border-radius-10;
  padding: $small-element-spacing;
  box-sizing: border-box;
}

@mixin info-header {
  text-align: center;
  font-size: $big-font-size;
  font-weight: 550;
}

@mixin info-description {
  text-align: justify;
  font-size: $small-font-size;
  font-weight: 450;
}

@mixin content-container {
  max-width: $max-page-width;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}