@import './variables';

@mixin page-container {
  width: calc(100 * var(--vw));
  height: calc(100 * var(--vh));
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

@mixin dish-card {
  width: $dish-card-width;
  height: calc(100 * var(--vh) - #{$bottom-navbar-height} - #{$huge-element-spacing} - #{$page-offset} - #{$top-navbar-height});
  margin: $standard-element-spacing 0 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  @include translucent-tile;
  @include shadow($strong-shadow);
}

@mixin navbar {
  width: $navbar-width;
  position: absolute;
  box-sizing: border-box;
  top: $page-offset;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

@mixin chip {
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: $chip-font-size;
  background-color: $white-transparent-background-20;
  padding: $small-element-spacing $standard-element-spacing;
  border-radius: $round-border-radius-50;
}

@mixin search-list {
  position: absolute;
  max-height: calc(var(--vh) * 75 - #{$top-navbar-height} - #{$bottom-navbar-height});
  top: calc(#{$top-navbar-height} + #{$small-element-spacing});
  border-radius: $standard-element-spacing;
  padding: $standard-element-spacing;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
  left: 0;

  .search-list-item {
    border-top: thin solid $lightly-highlighted-background;
    box-sizing: border-box;

    .list-item-icon {
      margin-left: auto;
      font-size: $standard-font-size;
    }

    .list-item-text {
      display: flex;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: $small-font-size;
      align-items: baseline;
      width: 100%;
    }

    .list-item-info {
      margin-left: $standard-element-spacing;
      opacity: 0.5;
      font-size: $tiny-font-size;
    }
  }
}

@mixin search-bar {
  display: flex;
  align-items: center;
  padding: $standard-element-spacing;
  border-radius: $round-border-radius-50;
  position: relative;


  .search-input {
    flex-grow: 1;
    margin: 0 $standard-element-spacing;
    font-size: $standard-font-size;
    font-weight: bold;
  }
}

@mixin action-button-standard {
  box-sizing: border-box;
  font-weight: bold;
  -webkit-box-shadow: $button-shadow;
  -moz-box-shadow: $button-shadow;
  box-shadow: $button-shadow;
  padding: $standard-element-spacing $huge-element-spacing;
  font-size: $small-font-size;
  width: fit-content;
  height: fit-content;
  border-radius: $round-border-radius-50;
}

@mixin dish-card-action-button {
  @include action-button-standard;
  margin: 0 auto;
}

@mixin translucent-tile {
  @include shadow($shadow);
  background: $gradient-transparent-background-soft;
  border-radius: $outer-border-radius-10;
  padding: $small-element-spacing;
  box-sizing: border-box;
}

@mixin info-header {
  text-align: center;
  font-size: $big-font-size;
  font-weight: 550;
}

@mixin info-description {
  text-align: justify;
  font-size: $small-font-size;
  font-weight: 450;
}

@mixin content-container($desktop-width-percentage) {
  width: 100%;
  @media (min-width: $md) {
    max-width: calc(#{$max-page-width} * #{$desktop-width-percentage} / 100);
    width: calc(#{$max-page-width} * #{$desktop-width-percentage} / 100);
  }
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin navbar-icon {
  padding: $small-element-spacing;
  border-radius: $outer-border-radius-10;
  background: $white-transparent-background-75;
  box-sizing: border-box;
  @include shadow($firm-shadow);
}

@mixin navbar-max-width {
  @media (min-width: $md)  {
    max-width: calc(#{$max-page-width} + #{$big-element-spacing});
  }
}