$bottom-navbar-height: 70px;
$navbar-width: 90vw;
$page-width: 90vw;
$top-navbar-height: 60px;

$page-offset: 20px;
$small-element-spacing: 5px;
$standard-element-spacing: 10px;
$big-element-spacing: 20px;
$huge-element-spacing: 30px;

$inner-border-radius-5: 5px;
$outer-border-radius-10: 10px;
$outer-border-radius-25: 25px;
$round-border-radius-50: 50px;

$lightly-highlighted-background: rgba(128, 128, 128, 0.03);
$highlighted-background: rgba(128, 128, 128, 0.1);
$strong-highlighted-background: rgba(128, 128, 128, 0.25);

$white-transparent-background-1: rgba(255, 255, 255, 0.01);
$white-transparent-background-5: rgba(255, 255, 255, 0.05);
$white-transparent-background-10: rgba(255, 255, 255, 0.1);
$white-transparent-background-20: rgba(255, 255, 255, 0.20);
$white-transparent-background-35: rgba(255, 255, 255, 0.35);
$white-transparent-background-75: rgba(255, 255, 255, 0.75);

$gradient-transparent-background: linear-gradient(270deg, rgba(121,0,255,0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
$gradient-transparent-background-soft: linear-gradient(270deg, rgba(183,119,255,0.25) 0%, rgba(255, 255, 255, 0.15) 100%);

$dish-card-width: 85%;
$mini-dish-card-height: calc(60 * var(--vh));
$slide-bottom-container-height: calc(10 * var(--vh));
$slide-header-margin: 25px;

$chip-font-size: 0.6125rem;
$tiny-font-size: 0.6875rem;
$small-font-size: 0.825rem;
$standard-font-size: 1rem;
$big-font-size: 1.125rem;
$huge-font-size: 1.75rem;
$icon-font-size: 3rem;
$small-icon-font-size: 1.75rem;

$shadow: 0 8 25px 0 rgba(20, 20, 20, 0.1);
$strong-shadow: 0px 8px 15px 0px rgba(29, 29, 29, 0.5);
$button-shadow: 0 8px 5px -5px rgba(20, 20, 20, 0.1);

$firm-shadow: 0px 0px 10px 0px rgba(29, 29, 29, 0.5);

$max-page-width: calc(64 * var(--vh));
