$navbar-height: 70px;
$navbar-width: 95vmin;
$page-width: 90vmin;
$display-manager-height: 60px;

$page-offset: 10px;
$dish-card-spacing: 10px;
$dish-card-inner-border-radius: 5px;

$highlighted-background: rgba(128, 128, 128, 0.075);
$strong-highlighted-background: rgba(128, 128, 128, 0.25);
