@import './src/styles/variables';

.search-bar-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  position: relative;

  .search-input {
    flex-grow: 1;
    margin: 0 10px;
    font-weight: bold;
  }
}

.holder {
  flex-grow: 1;

  .found-dishes-list {
    position: absolute;
    font-size: 0.8rem;
    max-height: 35vh;
    overflow-y: auto;
    top: calc(#{$display-manager-height} + 5px);
    border-radius: 10px;
    width: 100%;
    left: 0;

    .found-dish-item {
      border-top: 1px solid $highlighted-background;

      .found-dish-item-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }

      .found-dish-item-icon {
        margin-left: auto;
        font-size: 1rem;
      }
    }
  }
}
