@import '/src/styles/shared';
@import '/src/styles/variables';

.user-details-row-container {
  .user-details-row-content {
    font-size: $standard-font-size;
    align-items: center;
    display: flex;

    .user-info {
      margin-left: $standard-element-spacing;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .user-username {
        font-weight: bold;
      }

      .user-email {
        font-size: $small-font-size;
      }
    }

    .user-role {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: $small-font-size;
      margin: 0 $standard-element-spacing;
      width: 10%;
    }

    .expand-management-options-button {
      margin-left: auto;
    }
  }

  .user-manage-row {
    overflow: hidden;

    .action-button {
      @include action-button-standard;
      padding: $small-element-spacing $big-element-spacing;
      margin: $standard-element-spacing $small-element-spacing 0;
    }
  }
}