@import './src/styles/variables';
@import './src/styles/shared';

.found-dish-page-container {
  @include page-container;

  .slides-container {
    @include content-container;
    box-sizing: border-box;
    z-index: 1;
    height: 100%;

    .dish-card {
      @include dish-card;
    }
  }

  .top-navbar {
      @include navbar;
  }
}
