@import './src/styles/variables';
@import './src/styles/shared';

.found-dish-page-container {
  @include page-container;

  .slide-container {
    @include content-container(100);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;
    height: 100%;

    .found-dish-container {
      touch-action: none;

      .dish-card {
        @include dish-card;
      }
    }
  }

  .top-navbar {
      @include navbar;
  }
}
