@import './src/styles/variables';
@import './src/styles/shared';

.search-bar-wrapper {
  flex-grow: 1;

  .search-bar-container {
    @include search-bar;
  }

  .search-icon {
    @include navbar-icon;
    margin-top: 1px;
    margin-left: $small-element-spacing;
  }

  .search-list {
    @include search-list;
    overflow-y: auto;
  }
}
