@import '../../../styles/shared';
@import '../../../styles/variables';

.menu-plan-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &.empty-menu-plan-container {
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: auto;

    .empty-menu-image {
      max-width: 80%;
      margin: auto 0;
      z-index: 10;
    }

    .empty-menu-content {
      margin-bottom: $standard-element-spacing;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .empty-menu-header {
        @include info-header;
        font-weight: bold;
        margin-bottom: $standard-element-spacing;
        width: 70%;
      }

      .empty-menu-info {
        text-align: center;
        width: 80%;
        margin-bottom: $huge-element-spacing;
        font-size: $standard-font-size;
      }

      .action-button {
        @include action-button-standard;
      }
    }
  }

  .menu-plan-header {
    @include info-header;
    margin: $standard-element-spacing 0;
    font-weight: bold;
  }

  .menu-plan-info {
    @include info-description;
    width: 90%;
    margin: 0 auto $big-element-spacing;
    opacity: 0.9;
  }

 .menu-plan {
   overflow-y: auto;
   flex-grow: 1;
   margin-bottom: calc(#{$small-icon-font-size} + #{$big-element-spacing});
   border-radius: $outer-border-radius-10;

   .menu-plan-columns {
     display: flex;
     flex-direction: row;

     .menu-plan-dates-column, .menu-plan-names-column {
       .menu-plan-date, .menu-plan-dish {
         @include translucent-tile;
         margin-bottom: $small-element-spacing;
         display: flex;
         justify-content: center;
         font-weight: bold;
         height: 60px;
       }
     }

     .menu-plan-dates-column {
       width: 20%;

       .menu-plan-date {
         flex-direction: column;

         .menu-plan-date-day {
           font-size: $big-font-size;
         }
         .menu-plan-date-month {
           font-size: $small-font-size;
         }
       }
     }

     .menu-plan-names-column {
       width: 80%;
       z-index: 1;

       .menu-plan-dish {
         margin-left: $small-element-spacing;
         background: $white-transparent-background-5;
         align-items: center;

         .menu-plan-dish-name {
           margin-left: $standard-element-spacing;
           font-size: $small-font-size;
           text-overflow: ellipsis;
           overflow: hidden;
           font-weight: 500;
         }

         .menu-plan-dish-delete-button {
           margin-left: auto;
         }
       }
     }
   }
 }
}
