@import './src/styles/shared';
@import './src/styles/variables';

.settings-page-container {
  @include page-container;

  .settings-panel {
    width: 90vw;
    height: calc(100 * var(--vh) - #{$navbar-height} - calc(2 *  #{$dish-card-spacing}) - calc(2 * #{$page-offset}));
    margin-bottom: calc(#{$navbar-height} + #{$page-offset});
    box-sizing: border-box;
    border-radius: 10px;
    padding: $dish-card-spacing
  }
}
