@import './src/styles/variables';

.dish-details-container {
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  position: relative;

  .scrollable-dish-details {
    overflow-y: auto;
    flex-grow: 1;

    .dish-image {
      border-radius: $dish-card-inner-border-radius;
      margin-bottom: 10px;
      height: 30%;
    }

    .ingredients-list {
      overflow: hidden;
      padding: 3px;
    }

    .ingredients-list, .dish-name {
      background-color: rgba(128, 128, 128, 0.075);
      border-radius: $dish-card-inner-border-radius;
      width: 100%;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    .dish-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0.5em;
      font-size: 1.2em;
      font-weight: bold;
      overflow: hidden;
    }
  }

  .hide-details-button {
    width: 100%;
    border-radius: $dish-card-inner-border-radius;
    font-weight: bold;
  }
}
