@import './src/styles/variables';
@import '../DishCardShared';

.dish-card-back-container {
  @include dish-card-container;
  position: relative;

  .edit-panel {
    box-sizing: border-box;
    border-radius: $dish-card-inner-border-radius;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;

    .action-button {
      margin: 0 10px;
    }
  }

  .scrollable-dish-details {
    @include dish-card-components;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    .image-container {
      height: 40%;
      text-align: center;
    }
  }

  .flip-card-button {
    width: 100%;
    border-radius: $dish-card-inner-border-radius;
    font-weight: bold;
  }
}

.delete-dialog-container {
  .delete-dialog {
    padding: $dish-card-spacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .delete-dialog-text {
      padding: $dish-card-spacing;

      .delete-dialog-warning {
        font-weight: bold;
      }
    }

    .delete-dialog-button {
      margin: 10px 10px 0 10px;
    }
  }
}
