@import './src/styles/variables';
@import '../DishCardShared';

.dish-card-back-container {
  @include dish-card-container;
  position: relative;

  .edit-panel {
    box-sizing: border-box;
    border-radius: $round-border-radius-50;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 100;

    .action-button {
      margin: 0 $standard-element-spacing;
    }
  }

  .scrollable-dish-details {
    .dish-card-content-container {
      background-color: $white-transparent-background-5;
      border-radius: $inner-border-radius-5;
    }

    @include dish-card-components;
    border-radius: $inner-border-radius-5;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    .image-container {
      height: 40%;
      text-align: center;
    }
  }

  .flip-card-button {
    @include dish-card-action-button;
    margin-top: $small-element-spacing;
  }
}
