@import './src/styles/variables';

.multiplier-input-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border: 1px solid $lightly-highlighted-background;
  border-radius: $outer-border-radius-10;
  overflow: hidden;

  .value-field {
    background-color: $lightly-highlighted-background;
    padding: $small-element-spacing;
    min-width: 50px;
    height: 100%;
    box-sizing: border-box;
  }

  .buttons-container {
    .increment-button, .decrement-button {
      padding: 0 $small-element-spacing;
      font-weight: bold;

      &.MuiButtonBase-root {
        min-width: 40px;
        height: 100%;
      }
    }

  }
}
