@import './src/styles/variables';
@import './src/styles/shared';

.MuiList-root {
  .MuiMenuItem-root {
    font-size: $small-font-size;
  }
}

.tags-management-panel-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .divider {
    font-size: $standard-font-size;
    font-weight: 600;
  }

  .tags-tab-panel {
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    .tags-tab-text {
      .info {
        text-align: justify;
        font-size: $small-font-size;
        padding: $standard-element-spacing;
      }

      .requirements {
        font-weight: 600;
        opacity: 0.75;
        text-align: center;
      }
    }

    .tags-tab-content {
      padding: $standard-element-spacing;

      .tag-inputs-container {
        display: flex;
        height: 30px;

        .tag-type-selector {
          height: 100%;
          margin-left: 10px;
        }

        .tag-name-input {
          height: 100%;
          font-size: $standard-font-size;
          flex-grow: 1;
        }
      }

      .selected-tag {
        font-size: $standard-font-size;
        font-weight: 600;
      }

      .action-button {
        @include dish-card-action-button;
        margin: 10px auto;
      }
    }
  }
}
