@import './src/styles/variables';

.bottom-navbar-container {
  width: $navbar-width;
  height: $navbar-height;
  position: absolute;
  box-sizing: border-box;
  bottom: $page-offset;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;

  .MuiBottomNavigation-root {
    border-radius: 20px;
    height: 100%;
    width: 100%;
  }

  .navbar-tile {
    box-sizing: border-box;
    height: $navbar-height;
    width: $navbar-height;
    border-radius: 50%;

    .MuiBottomNavigationAction-label {
      font-weight: 600;
      margin-top: 5px;
      font-size: 0.7rem;
    }

    .MuiSvgIcon-root {
      transition: transform 0.3s;
    }

    &.Mui-selected {
      .MuiSvgIcon-root {
        transform: scaleX(-1) scale(1.3);
      }
    }
  }
}
