@import './src/styles/variables';
@import './src/styles/shared';

.bottom-navbar-container {
  width: $navbar-width;
  height: $bottom-navbar-height;
  @include navbar-max-width;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;

  .MuiBottomNavigation-root {
    border-radius: $outer-border-radius-25 $outer-border-radius-25 0 0;
    height: 100%;
    width: 100%;
  }

  .navbar-tile {
    box-sizing: border-box;
    height: $bottom-navbar-height;
    width: $bottom-navbar-height;
    border-radius: 50%;

    .MuiBottomNavigationAction-label {
      font-weight: 600;
      margin-top: $small-element-spacing;
      font-size: $tiny-font-size;
    }

    .MuiSvgIcon-root {
      transform: scale(0.8);
      transition: transform 0.3s;
    }

    &.Mui-selected {
      .MuiSvgIcon-root {
        transform: scale(1);
      }
    }
  }
}
