@import './src/styles/variables';

.selectable-tags-list {
  border-radius: 10px;

  .tags-list-header {

    .tags-list-header-text {
      font-weight: bold;
    }

    .tags-list-header-icon {
        margin-left: auto;
    }
  }

  .selectable-tag {
    border-top: thin solid $highlighted-background;
    box-sizing: border-box;

    .selectable-tag-text {
      font-size: 0.8rem;
    }

    .selected-tag-icon {
      margin-left: auto;
      font-size: 0.9rem;
    }
  }
}
