@import './src/styles/shared';
@import './src/styles/variables';

.dish-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .recipe-step {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: $standard-element-spacing;
    background-color: $white-transparent-background-5;
    border-radius: $inner-border-radius-5;
    margin: 0 $small-element-spacing $small-element-spacing $small-element-spacing;

    &.add-step {
      text-align: center;

      .add-step-text {
        margin-left: $standard-element-spacing;
        line-height: 100%;
      }
    }

    .recipe-step-number {
      font-size: $big-font-size;
      font-weight: bold;
      padding: 0 $standard-element-spacing;
    }

    .recipe-step-text {
      font-size: $small-font-size;
      flex-grow: 1;
    }

    .delete-step-button {
      padding: 0 $small-element-spacing;
    }
  }
}
