@import './src/styles/shared';

.dish-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .recipe-step {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.075);
    margin-bottom: 5px;
    @include appear-animation;

    &.add-step {
      text-align: center;

      .add-step-text {
        margin-left: 10px;
        line-height: 100%;
      }
    }

    .recipe-step-number {
      font-size: 1.25rem;
      font-weight: bold;
      padding: 0 10px;
    }

    .recipe-step-text {
      font-size: 0.75rem;
      flex-grow: 1;
    }

    .delete-step-button {
      padding: 0 5px;
      @include appear-animation;
    }
  }
}
