@import '../../styles/variables';
@import '../../styles/shared';

.found-dish-page-container {
  @include page-container;

  .slide-container {
    @include content-container(100);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;
    height: 100%;

    .found-dish-container {
      touch-action: none;
      width: 100%;

      .dish-card {
        @include dish-card;
        touch-action: none;
        margin: auto;
      }
    }
  }

  .top-navbar {
      @include navbar;
  }
}
