@import './src/styles/variables';
@import './src/styles/shared';

.settings-panel-container {
  @include content-container;

  .settings-panel-header {
    box-sizing: border-box;
    padding-bottom: 30px;
    font-weight: bold;
  }

  .settings-panel-item {
    border: thin solid $lightly-highlighted-background;
    font-size: $standard-font-size;

    .icon {
      font-size: $big-font-size;
    }

    &:hover {
      background-color: $lightly-highlighted-background;
    }
  }

  .displayed-setting {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;

    .dish-card-add {
      height: 100%;
      width: 100%;
    }

    .tags-management-panel {
      height: 100%;
      width: 100%;
    }
  }
}
