@import './src/styles/variables';
@import './src/styles/shared';

.slide-container {

  .header {
    margin: $big-element-spacing 0 $standard-element-spacing 0;
    font-weight: bold;
    font-size: $huge-font-size;
  }

  .caption {
    font-size: $big-font-size;
    font-weight: bold;
  }

  .mini-dish-card, .slide-bottom-container {
    width: 85vw;
    margin: 0 auto;
    padding: $standard-element-spacing;
    border-radius: $outer-border-radius-10;
    box-sizing: border-box;
  }

  .mini-dish-card {
    background: $gradient-transparent-background-soft;
    height: $mini-dish-card-height;
    margin-bottom: $standard-element-spacing;
  }

  .slide-bottom-container {
    background: $gradient-transparent-background;
    height: $slide-bottom-container-height;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .bottom-caption {
      font-weight: bold;
      padding: $standard-element-spacing;
      width: 50%;
    }

    .action-button {
      @include action-button-standard;
    }
  }
}
