@import url('https://fonts.googleapis.com/css2?family=Montserrat');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        background: url('../public/background.svg');
        content: "";
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.1;
        z-index: 0;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: #ffc400 rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffc400;
    border-radius: 10px;
}

.swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
