@import './src/styles/variables';
@import './src/styles/shared';

.ingredient-tile-container {
  .ingredient-name, .ingredient-amount, .ingredient-unit {
    font-size: $tiny-font-size;
    width: fit-content;
  }

  .ingredient-amount {
    margin-left: 0.25rem;
  }
}

.ingredients-edit-dialog {
  padding: $standard-element-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;

  .divider {
    margin: $standard-element-spacing auto;
    width: 90%;
  }

  .ingredients-edit-dialog-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;

    .action-button {
      border-radius: $round-border-radius-50;
      margin: $small-element-spacing auto;
      height: 30px;
    }

    .field-name-label {
      margin-right: $standard-element-spacing;
      opacity: 0.5;
    }

    .editable-text-field, .field-name-label {
      font-size: $standard-font-size;
    }
  }
}
