.ingredient-tile-container {
  .ingredient-name, .ingredient-amount, .ingredient-unit {
    width: fit-content;
  }

  .ingredient-amount, .ingredient-unit {
    margin-left: 0.25rem;
  }

  &.editable {
    cursor: pointer;
  }
}
